# Xcode
DerivedData/
build/
xcuserdata/
*.xcscmblueprint
*.xccheckout

# SwiftPM
.swiftpm/
.build/

# macOS
.DS_Store

# Logs
*.log

# Fastlane (if used later)
fastlane/report.xml
fastlane/test_output

# Archives
*.ipa
*.dSYM.zip

# Temporary
*.tmp
*.swp
